@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .nq-bg-gradient-purple {
      background: #a78bfa;
      background: linear-gradient(180deg, rgba(167,139,250,1) 0%, rgba(167,139,250,0.6012780112044818) 60%, rgba(255,255,255,0.9990371148459384) 100%);
    }

    .nq-text-shadow {
      text-shadow: 1px 1px #000000;
    }
  }
}